
/* === Base Colors === */
@define-color black              #000000;
@define-color white              #ffffff;
@define-color transparent        rgba(0, 0, 0, 0);

/* === Custom Palette === */
@define-color deep-navy         #090618;
@define-color red               #C34043;
@define-color olive-green       #76946A;
@define-color sand              #C0A36E;
@define-color cornflower        #7E9CD8;
@define-color lilac             #957FB8;
@define-color seafoam           #6A9589;
@define-color beige             #C8C093;
@define-color slate             #727169;
@define-color bright-red        #E82424;
@define-color lime              #98BB6C;
@define-color wheat             #E6C384;
@define-color light-blue        #7FB4CA;
@define-color lavender-grey     #938AA9;
@define-color teal              #7AA89F;
@define-color cream             #DCD7BA;
@define-color amber             #FFA066;
@define-color salmon            #FF5D62;
@define-color charcoal          #1F1F28;

@define-color charcoal-93 rgba(31, 31, 40, 0.93);
